<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <title>HTML</title>
    <link rel="stylesheet" href="style.css">
    <style>
      .boton-degradado { background: linear-gradient(to right, #312796, #441F82); border: none; color: rgb(255, 255, 255); padding: 10px 10px; text-align: center; text-decoration: none; display: inline-block; font-size: 16px; margin: 4px 2px; cursor: pointer; } 
      .tEST { font-size: 35px; text-align: center} 
    </style>

  </head>

  <body style="background-color: rgb(35, 47, 102);">
    <br><p class="tEST">Esta página web es una página HTML válida para aprobar la materia de Seminario</p>

    <fieldset>

      <p>

        <br><select name="Nombre" id="" placeholder="Ingrese el nombre">Ingrese el nombre</select>

      
      </p>

      <a href="C:\Users\Kevin\Desktop\Tp_Seminario\HTML2.html">

        <br><button class="boton-degradado">Provinces</button><br>
        <br><button class="boton-degradado">Departments</button><br>
        <br><button class="boton-degradado">Municipalities</button><br>
        <br><button class="boton-degradado">Locations</button><br>
      
      </a>

    </fieldset>

  <script src="../main.js"></script>

  </body>

</html>


